table{
    margin-top:5%;
    width:60vw;
    border-collapse: collapse;
}
table tbody,table{
    border: 2px solid white;
}
table tr{
    height:3rem;
}
table th{
    top:11.9vh;
}

table td{
    padding: 5px 20px;
}

p{
    margin:0 !important;
}

h3{
    font-size: 2rem;
    margin: 5% 0;
}

.add{
    color: rgb(0, 199, 0);
}

.reworked{
    color: orange;
}

.removed{
    color: red;
}