
/*
    Global
*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    width:100%;
    height:100%;
}

body{
    background: rgb(6,0,112);
    background: linear-gradient(0deg, rgba(6,0,112,1) 0%, rgba(1,81,119,1) 44%, rgba(0,185,255,1) 100%);
}

a,a:active{
    color: #ff7800;
    transition: .2s;
}

a:hover{
    color: #ffc400;
    transition: .2s;
}

/*
    Header
*/

header{
    position: fixed;
    height: 6vh;
    width:100%;
    background:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*
    Header - Title
*/

header h1{
    color:rgb(255, 255, 255);
    font-family: "Consolas";
}

/*
    Header - Nav
*/

header #nav{
    width:70%;
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header #nav a{
    color:#898a8b;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .2s;
}

header #nav a:hover{
    color: white;
    transition: .2s;
}

/*
    Content
*/

#spacer{
    height:12vh;
}

#content{
    background: rgb(6,0,112);
    background: linear-gradient(0deg, rgba(6,0,112,1) 0%, rgba(1,81,119,1) 44%, rgba(0,185,255,1) 100%);
}

section{
    min-height:88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10vh
}

section .middle{
    font-family: Arial;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 2% 5%;
    max-width: 80%;
}


section h2{
    font-size: 2.5rem;
}

section p{
    margin-top:3rem;
    font-size: 1.2rem;
}

/*
    Mobile
*/
@media(max-width: 600px){
    /*
        Header - nav
    */
    header #nav{
        display: none;
    }
}