table{
    margin-top:5%;
    width:60vw;
    border-collapse: collapse;
}
table tbody,table{
    border: 2px solid white;
}
table tr{
    height:3rem;
}
table th{
    top:11.9vh;
}

.know{
    color: red;
}
.wip{
    color: orange;
}
.fixed{
    color: rgb(0, 197, 0);
}
.noabug{
    color: rgb(0, 132, 255);
}