img{
    margin-top:3rem;
    width: 60%;
}

h3{
    font-size:2.5rem;
    margin-top:3rem;
}

p{
    margin: 0 !important;
}

.mark{
    background: rgb(116, 116, 116);
    padding:0 .2rem;
    border-radius: 5px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}